.container {
  padding-top: 15%;
  display: flex;
  gap: 5rem;
  position: relative;
}

.container::after {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  width: 40%;
  height: 100%;
  background-image: url('@/assets/computer_coding.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 0;
  animation: fadeInSlide 0.5s ease-out 0.5s forwards;
  z-index: -1;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.heroText > p {
  font-size: 1.6rem;
}

.heroText h1 {
  font-size: 6rem;
}

.specializationText {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.specializationText h3 {
  font-size: 7rem;
  line-height: 1.2;
  color: var(--green);
  text-align: center;
  margin-top: 2rem;
  text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
  /* width: 100%; */
  @media screen and (max-width: 400px) {
    font-size: 5.5rem;
  }
}

.experience {
  font-size: 1.6rem;
}

.socialMedia {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-left: 1rem;
}

.socialMedia img,
.socialMedia span {
  font-size: 3rem;
  width: 3.5rem;
}

.button {
  max-width: 200px;
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 3rem;
}

.heroImage img {
  max-width: 500px;
  max-height: 300px;
}

@media screen and (max-width: 960px) {
  .container {
    /* display: block; */
    margin-top: 15%;
    padding-top: 5%;

    justify-content: center;
  }

  .heroText h1 {
    font-size: 5rem;
  }

  .container::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }
}
