.footer {
  background-color: var(--footer-bg);
  color: var(--text-color);
  margin-top: 6rem;
  width: 100%;
  transition: var(--transition-default);
}

.container {
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.7rem;
  transition: var(--transition-default);
}

.content p {
  letter-spacing: 0.04rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content img {
  width: 2.6rem;
  animation: spinning 5s infinite linear;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedia img,
.socialMedia span {
  font-size: 3rem;
  width: 3rem;
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .content p {
    font-size: 1.2rem;
  }
}
